.landing-h1 {
  color: #591727;
  font-size: 60px;
  position: relative;
  -webkit-animation: bounce 5s ease;
          animation: bounce 5s ease;
  overflow: hidden;
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-15px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-15px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.landing-h2 {
  font-family: roc-grotesk, "sans-serif";
  color: #591727;
  font-size: 20px;
  overflow: hidden;
}

.landing-h5 {
  color: #591727;
  font-size: 20px;
  margin: 15px 0 0 20px;
  overflow: hidden;
}

#topSignUpIn {
  display: block;
}
#topSignUpIn li a {
  color: #591727;
  text-decoration: none;
}
#topSignUpIn li a:hover {
  color: #591727;
  text-decoration: underline;
  opacity: 60%;
}

#topSignUpIn.hidden {
  display: none;
}

#logo {
  display: none;
  position: absolute;
  top: 2%;
  left: 3%;
  width: 20%;
  height: auto;
}

nav {
  width: 100%;
  height: 81px;
  background-color: #F4C9FF;
  border-top: 1px solid #591727;
  border-bottom: 1px solid #591727;
  font-family: roc-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  position: fixed;
  bottom: 0;
  z-index: 100;
  color: #591727;
}
nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  line-height: 79px;
}
nav ul li a {
  color: #591727;
  text-decoration: none;
  font-size: 28px;
  margin: 0 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  color: #E78550;
  cursor: pointer;
}

#header {
  position: absolute;
  top: 0;
  right: 16px;
  height: 10vh;
  font-family: roc-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
}
#header ul {
  display: flex;
}

.landing-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.landing-container .landing-titles {
  width: 90%;
  position: absolute;
  top: 38vh;
  left: 5%;
  text-align: center;
  font-family: lust-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.landing-container .landing-left {
  display: none;
}
.landing-container .landing-right {
  width: 100%;
  background-image: url(../img/right.png);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 834px) {
  .landing-h1 {
    font-size: 124px;
  }
  .landing-h2 {
    font-size: 40px;
  }
  .landing-h5 {
    font-size: 30px;
    margin: 10px 0 0 30px;
  }
  nav ul li {
    font-size: 28px;
    margin: 0 40px;
  }
  #logo {
    display: block;
    position: absolute;
    top: 2%;
    left: 5%;
    width: 10%;
    height: auto;
  }
  .landing-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .landing-container .landing-titles {
    width: 90%;
    height: 20vh;
    position: absolute;
    top: 38vh;
    left: 5%;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .landing-h1 {
    font-size: 104px;
  }
  .landing-h2 {
    font-size: 30px;
  }
  #logo {
    width: 6%;
    left: 4%;
  }
  .landing-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .landing-container .landing-titles {
    width: 70%;
    height: 30vh;
    position: absolute;
    top: 34vh;
    left: 15%;
    text-align: center;
  }
  .landing-container .landing-left {
    display: block;
    width: 50%;
    background-image: url(../img/left.png);
    background-size: cover;
    background-position: 60% 100%;
  }
  .landing-container .landing-right {
    width: 50%;
    background-position: 80% 10%;
  }
}
@media screen and (min-width: 1440px) {
  .landing-h1 {
    font-size: 124px;
  }
  .landing-h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .landing-h1 {
    font-size: 150px;
  }
  .landing-h2 {
    font-size: 40px;
  }
  nav ul li {
    font-size: 30px;
    margin: 0px 90px;
  }
}
#editModal,
#add-product-modal {
  --bs-modal-bg: #FDE7AE;
  border: 2px solid #591727;
  text-align: center;
  font-family: roc-grotesk, "sans-serif";
  font-weight: 500;
  color: #591727;
  font-size: 20px;
  --bs-modal-border-radius: 0%;
}
#editModal h2,
#add-product-modal h2 {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  width: 190px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 63px;
}
#editModal .modal-header,
#add-product-modal .modal-header {
  padding: 0;
  border-bottom: none;
}
#editModal .modal-header .btn-close,
#add-product-modal .modal-header .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
}
#editModal .modal-body,
#add-product-modal .modal-body {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#editModal .modal-body #image-preview img,
#add-product-modal .modal-body #image-preview img {
  width: 92%;
}
#editModal .modal-body #productForm,
#editModal .modal-body #add-product-form,
#add-product-modal .modal-body #productForm,
#add-product-modal .modal-body #add-product-form {
  padding: 0;
}
#editModal .modal-body #productForm input,
#editModal .modal-body #add-product-form input,
#add-product-modal .modal-body #productForm input,
#add-product-modal .modal-body #add-product-form input {
  width: 290px;
  height: 60px;
  margin: 0 9px;
  border: 1px solid #591727;
  border-radius: 0;
}
#editModal .modal-footer,
#add-product-modal .modal-footer {
  justify-content: center;
  border-top: none;
}
#editModal .modal-footer .btn-primary,
#add-product-modal .modal-footer .btn-primary {
  background-color: #F4C9FF;
  border: 1px solid #591727;
  font-weight: 700;
  font-size: 24px;
  color: #591727;
  padding: 9px 35px;
  border-radius: 0%;
}

#user-profile {
  left: 100vw;
  top: 0;
  transition: all 0.3s ease-in-out;
  background-color: #FDE7AE;
  z-index: 200;
  width: 100vw;
  height: 100%;
  border: 2px solid #591727;
  text-align: center;
  font-family: roc-grotesk, "sans-serif";
  font-weight: 500;
  color: #591727;
  font-size: 20px;
  overflow: hidden;
  position: fixed;
}
#user-profile #close-profile-bttn {
  display: block;
  position: relative;
  font-size: 40px;
  padding: 0.5rem;
  left: 42%;
  z-index: 1000;
}
#user-profile #profile-content-wrapper {
  position: relative;
  max-height: 80%;
}
#user-profile #profile-content-wrapper #dp {
  width: 20vh;
  height: 20vh;
  display: inline-block;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid #591727;
  background-color: #F4C9FF;
  margin-bottom: 2rem;
}
#user-profile #profile-content-wrapper h3 {
  margin-bottom: 2rem;
}
#user-profile #profile-content-wrapper .btn-wrapper {
  margin-top: 2rem;
}
#user-profile #profile-content-wrapper #myProducts-Btn {
  background-color: #F4C9FF;
  border: 1px solid #591727;
  font-weight: bold;
  font-size: 18px;
  font-family: roc-grotesk, "sans-serif";
  color: #591727;
  padding: 9px 35px;
  margin: 0.5rem 0;
  width: 80vw;
  transition: all 0.3s ease-in-out;
}
#user-profile #profile-content-wrapper #myProducts-Btn:hover {
  background-color: #E78550;
  cursor: pointer;
}
#user-profile #profile-content-wrapper #logout-Btn {
  background-color: #FF6347;
  border: 1px solid #591727;
  font-weight: bold;
  font-size: 18px;
  font-family: roc-grotesk, "sans-serif";
  color: #591727;
  padding: 9px 35px;
  margin: 0.5rem 0;
  width: 80vw;
}
#user-profile #profile-content-wrapper #logout-Btn:hover {
  background-color: #E78550;
}

#user-profile.active {
  transform: translateX(-100vw);
  transition: all 0.3s ease-in-out !important;
}

@media screen and (min-width: 768px) {
  #user-profile {
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    margin-top: 10vh;
  }
  #user-profile #profile-content-wrapper {
    top: -5rem;
    display: flex;
    height: 90%;
    max-height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #user-profile #close-profile-bttn {
    font-size: 50px;
    padding: 0.5rem;
  }
  #user-profile .btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #user-profile .btn-wrapper #myProducts-Btn {
    width: 40% !important;
    margin: 0.5rem 20%;
    font-size: 22px;
  }
  #user-profile .btn-wrapper #logout-Btn {
    width: 40% !important;
    margin: 0.5rem 20%;
    font-size: 22px;
  }
  #user-overlay.active {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 100;
  }
}
@media screen and (min-width: 1000px) {
  #user-profile.active {
    width: 50%;
    margin-left: 25%;
  }
}
#commentsModal {
  width: 90%;
  height: 100vh;
  background-color: #E78550;
  border-left: 3px solid #591727;
  position: fixed;
  top: 0;
}
#commentsModal .modal-header {
  width: 100%;
  height: 10vh;
  border: none;
  box-shadow: none;
  position: fixed;
  top: 0;
}
#commentsModal .modal-body {
  background-color: #E78550;
  height: 85vh;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  padding-bottom: 14vh;
}
#commentsModal .modal-body::-webkit-scrollbar {
  display: none;
}
#commentsModal .comment-text {
  font-family: roc-grotesk, "sans-serif";
  font-weight: 500;
  color: #591727;
  font-size: 18px;
  padding: 12px 15px 12px 25px;
  margin: 15px 4% 15px -30px;
  background-color: #FEFBDC;
  border: 2px solid #591727;
}
#commentsModal .no-comments {
  font-family: roc-grotesk, "sans-serif";
  font-weight: 500;
  color: #591727;
  font-size: 18px;
  padding: 12px 15px 12px 25px;
  margin: 15px 4% 15px -30px;
  background-color: #F4C9FF;
  border: 2px solid #591727;
}
#commentsModal .modal-footer {
  width: 100%;
  height: 16vh;
  font-family: roc-grotesk, "sans-serif";
  font-weight: 500;
  color: #591727;
  font-size: 18px;
  background-color: #F4C9FF;
  border-top: 4px solid #591727;
  border-radius: 0 0 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
}
#commentsModal .comments-title {
  width: 80%;
  position: absolute;
  top: 38vh;
  left: 9%;
  right: 11%;
  font-family: lust-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #591727;
  background-color: #FEFBDC;
  padding: 10px;
  text-align: center;
  border: 2px solid #591727;
}
#commentsModal .comments-image {
  width: 80%;
  height: auto;
  border: 2px solid #591727;
  margin: 20px 0 20px 8%;
}
#commentsModal .laptop-image-container {
  display: none;
}
#commentsModal .comments-image-laptop {
  display: none;
}
#commentsModal .comments-description {
  background-color: #FDE7AE;
  padding: 15px;
  border: 2px solid #591727;
  width: 98%;
  font-size: 14px;
  font-family: roc-grotesk, "sans-serif";
  font-weight: 500;
  color: #591727;
  margin: 0 0 -3px 0;
}
#commentsModal #comments-input {
  width: 64%;
  padding: 10px;
  border: 2px solid #591727;
  text-align: left;
}
#commentsModal .comments-pfp {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #591727;
  border-radius: 50%;
  margin: 0 12px 0px 0;
}
#commentsModal #post-comment-button {
  padding: 7px 12px 0px 11px;
  font-size: 28px;
  color: #591727;
  margin: 0 5% 0 5%;
  background-color: #FDE7AE;
  border: 2px solid #591727;
  transition: all 0.3s ease;
}
#commentsModal #post-comment-button:hover {
  color: #FDE7AE;
  background-color: #591727;
  border: 2px solid #FDE7AE;
}
#commentsModal .btn-close {
  background-color: #E78550;
  color: #591727;
  position: fixed;
  right: 2vw;
  font-size: 24px;
  opacity: 1;
  transition: all 0.3s ease;
}
#commentsModal .btn-close:hover {
  background-color: #F4C9FF;
}
#commentsModal .modal-content {
  border: none;
}

@media screen and (min-width: 375px) {
  #commentsModal .comments-image {
    margin: 20px 0 20px 8%;
  }
  #commentsModal .comments-description {
    margin: 0 0 0 0.5%;
    width: 95.5%;
  }
  #commentsModal #post-comment-button {
    padding: 10px 15px 0px 12px;
    font-size: 26px;
    margin: 0 5% 0 5%;
  }
  #commentsModal .btn-close {
    right: 3vw;
  }
}
@media screen and (min-width: 425px) {
  #commentsModal .comment-text,
#commentsModal .no-comments {
    padding: 12px 15px 12px 25px;
    margin: 15px 13% 15px -2px;
  }
  #commentsModal .comments-image {
    margin: 20px 0 20px 8%;
  }
  #commentsModal .comments-description {
    font-size: 18px;
    margin: 0 0 0 8%;
    width: 80%;
  }
  #commentsModal #post-comment-button {
    padding: 10px 15px 0px 12px;
    font-size: 26px;
    margin: 0 5% 0 5%;
  }
  #commentsModal .btn-close {
    right: 3vw;
  }
}
@media screen and (min-width: 768px) {
  #commentsModal {
    width: 100%;
    height: 100vh;
    background-color: #E78550;
    border-left: 3px solid #591727;
    position: fixed;
    top: 0;
  }
  #commentsModal .modal-body {
    width: 80%;
    background-color: #E78550;
    height: 90vh;
    position: fixed;
    top: 0;
  }
  #commentsModal .comment-text,
#commentsModal .no-comments {
    font-size: 26px;
    padding: 12px 15px 12px 25px;
    margin: 15px 26% 15px 0;
  }
  #commentsModal .modal-footer {
    height: 14vh;
    font-size: 26px;
  }
  #commentsModal .comments-image {
    width: 60%;
    margin: 30px 0 30px 10%;
  }
  #commentsModal .comments-description {
    font-size: 22px;
    margin: 0 0 30px 10%;
    width: 60%;
  }
  #commentsModal #post-comment-button {
    padding: 10px 15px 0px 12px;
    font-size: 32px;
    margin: 0 12% 0 5%;
  }
  #commentsModal .btn-close {
    right: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  #commentsModal {
    width: 100%;
    height: 100vh;
  }
  #commentsModal .modal-body {
    width: 55%;
    position: fixed;
    top: 4vh;
    left: 5vw;
  }
  #commentsModal .comment-text {
    font-size: 16px;
    padding: 12px 15px 12px 25px;
    margin: 15px 13% 15px -30px;
  }
  #commentsModal .no-comments {
    font-size: 22px;
    bottom: 4vh;
  }
  #commentsModal .modal-footer {
    height: 18vh;
    font-size: 18px;
  }
  #commentsModal .comments-image {
    display: none;
  }
  #commentsModal .laptop-image-container {
    display: block;
    width: 42%;
    height: 86vh;
    overflow: hidden;
    position: fixed;
    top: -3px;
    right: 0;
    border-left: 3px solid #591727;
  }
  #commentsModal .comments-image-laptop {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 86vh;
    border: none;
  }
  #commentsModal .comments-description {
    width: 88%;
    font-size: 16px;
    margin: 0 0 30px 0;
  }
  #commentsModal #comments-input {
    width: 54%;
  }
  #commentsModal .comments-pfp {
    width: 40px;
    height: 40px;
  }
  #commentsModal #post-comment-button {
    font-size: 28px;
    margin: 0 16% 0 5%;
  }
  #commentsModal #post-comment-button:hover {
    color: #FDE7AE;
    background-color: #591727;
    border: 2px solid #FDE7AE;
  }
  #commentsModal .btn-close {
    position: fixed;
    right: 4vw;
    font-size: 24px;
    z-index: 99;
  }
}
@media screen and (min-width: 1440px) {
  #commentsModal .modal-body {
    top: 3vh;
  }
  #commentsModal .comment-text {
    font-size: 24px;
    padding: 18px 20px 18px 30px;
  }
  #commentsModal .no-comments {
    font-size: 28px;
    bottom: 9vh;
    padding: 20px;
  }
  #commentsModal .modal-footer {
    height: 18vh;
    font-size: 22px;
  }
  #commentsModal .comments-image {
    display: none;
  }
  #commentsModal .laptop-image-container {
    display: block;
    width: 42%;
    height: 86vh;
    overflow: hidden;
    position: fixed;
    top: -3px;
    right: 0;
  }
  #commentsModal .comments-description {
    width: 88%;
    font-size: 22px;
    margin: 0 0 30px 0;
  }
  #commentsModal #comments-input {
    width: 54%;
    padding: 16px;
  }
  #commentsModal .comments-pfp {
    width: 40px;
    height: 40px;
  }
  #commentsModal #post-comment-button {
    font-size: 34px;
    padding: 15px 20px 3px 18px;
    margin: 0 16% 0 6%;
  }
  #commentsModal #post-comment-button:hover {
    color: #FDE7AE;
    background-color: #591727;
    border: 2px solid #FDE7AE;
  }
  #commentsModal .btn-close {
    position: fixed;
    right: 4vw;
    font-size: 32px;
    z-index: 99;
  }
}
#register-wrapper {
  display: flex;
  width: 100vw;
  position: relative;
}
#register-wrapper .form-container {
  width: 100%;
  height: 100vh;
  background-image: url(../img/registerHero.png);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(254, 251, 220, 0.5);
}
#register-wrapper .form-container .logo-row {
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  text-align: center;
}
#register-wrapper .form-container .logo-row #logo-link {
  width: 15%;
}
#register-wrapper .form-container .logo-row #HWlogo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#register-wrapper .form-container .logo-row #HWlogo:hover {
  opacity: 0.7;
  cursor: pointer;
}
#register-wrapper .form-container .logo-row h1 {
  width: 90%;
  font-family: lust-sans, "sans-serif";
  color: #591727;
  font-size: 40px;
  margin-top: 0.5rem;
}
#register-wrapper .form-container .logo-row .home-link-register {
  color: #591727;
  font-family: roc-grotesk, "sans-serif";
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 80%;
  z-index: 99;
}
#register-wrapper .form-container .logo-row .home-link-register:hover {
  text-decoration: underline;
  opacity: 50%;
}
#register-wrapper .form-container #register-form {
  margin-left: 20%;
  margin-top: 5%;
  width: 100%;
}
#register-wrapper .form-container #register-form label {
  font-family: roc-grotesk, "sans-serif";
  font-weight: bold;
  font-size: 18px;
  color: #591727;
  margin-bottom: 0.5rem;
}
#register-wrapper .form-container #register-form input {
  width: 60%;
  color: #591727;
  border: 1px solid #591727 !important;
  padding: 0.4rem;
  margin-bottom: 1rem;
}
#register-wrapper .form-container #register-form button {
  border: 1px solid #591727;
  background-color: #F4C9FF;
  border: 1px solid #591727;
  font-weight: bold;
  font-size: 18px;
  font-family: roc-grotesk, "sans-serif";
  color: #591727;
  padding: 9px 35px;
  margin: 2rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}
#register-wrapper .form-container #register-form button:hover {
  background-color: #E78550;
  cursor: pointer;
}
#register-wrapper .image-container {
  display: none;
}

@media screen and (min-width: 414px) {
  #register-wrapper .form-container #register-form {
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
  #register-wrapper .form-container #register-form label {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  #register-wrapper {
    display: flex;
    width: 100vw;
    position: relative;
  }
  #register-wrapper .form-container {
    background-color: #F4C9FF;
    width: 50%;
    background-image: none;
    display: flex;
    flex-direction: column;
  }
  #register-wrapper .form-container .logo-row h1 {
    display: none;
  }
  #register-wrapper .form-container .logo-row #logo-link {
    width: 20%;
  }
  #register-wrapper .form-container .logo-row .home-link-register {
    font-size: 26px;
    top: 140px;
    left: 4%;
  }
  #register-wrapper .form-container #register-form {
    margin-top: 0;
  }
  #register-wrapper .form-container #register-form label {
    font-size: 22px;
  }
  #register-wrapper .form-container #register-form input {
    font-size: 18px;
  }
  #register-wrapper .form-container #register-form button {
    background-color: #FDE7AE;
    font-size: 22px;
  }
  #register-wrapper .image-container {
    display: block;
    width: 50%;
    background-image: url(../img/loginHero.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 100vh;
  }
  #register-wrapper .image-container h1 {
    transform: rotate(90deg);
    font-size: 150px;
    color: #591727;
    position: absolute;
    top: 40%;
    left: 40%;
    font-family: lust-sans, "sans-serif";
    overflow: hidden;
  }
}
@media screen and (min-width: 1000px) {
  #register-wrapper .form-container {
    position: relative;
  }
  #register-wrapper .form-container .logo-row {
    padding: 2rem 2rem 0 2rem;
  }
  #register-wrapper .form-container .logo-row #logo-link {
    width: 13%;
  }
  #register-wrapper .form-container .logo-row .home-link-register {
    font-size: 18px;
    top: 120px;
    left: 3%;
  }
  #register-wrapper .form-container #register-form {
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  #register-wrapper .image-container h1 {
    left: 55%;
  }
}
@media screen and (min-width: 1200px) {
  #register-wrapper .form-container .logo-row #logo-link {
    width: 12%;
  }
  #register-wrapper .form-container .logo-row .home-link-register {
    font-size: 20px;
    top: 140px;
    left: 3%;
  }
  #register-wrapper .form-container #register-form label {
    font-size: 24px;
  }
  #register-wrapper .form-container #register-form input {
    padding: 0.6rem;
    margin-bottom: 0;
  }
  #register-wrapper .form-container #register-form button {
    font-size: 24px;
  }
  #register-wrapper .form-container #register-form #register-container p {
    font-size: 18px;
  }
  #register-wrapper .form-container #register-form #register-container a,
#register-wrapper .form-container #register-form #register-container b {
    font-size: 24px;
  }
  #register-wrapper .image-container {
    overflow: hidden;
  }
  #register-wrapper .image-container h1 {
    left: 65%;
  }
}
@media screen and (min-width: 1400px) {
  #register-wrapper .image-container h1 {
    left: 70%;
  }
}
@media screen and (min-width: 1600px) {
  #register-wrapper .form-container .logo-row #logo-link {
    width: 10%;
  }
  #register-wrapper .form-container #register-form label {
    font-size: 26px;
  }
  #register-wrapper .form-container #register-form input {
    font-size: 20px;
  }
  #register-wrapper .image-container h1 {
    left: 73%;
  }
}
@media screen and (min-width: 1800px) {
  #register-wrapper .image-container h1 {
    left: 75%;
  }
}
@media screen and (min-width: 2000px) {
  #register-wrapper .form-container .logo-row #logo-link {
    width: 8%;
  }
  #register-wrapper .image-container h1 {
    left: 75%;
  }
}
@media screen and (min-width: 2200px) {
  #register-wrapper .image-container h1 {
    left: 80%;
  }
}
#login-container {
  display: flex;
  width: 100vw;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#login-container .form-container {
  width: 100%;
  height: 100vh;
  background-image: url(../img/loginHero.png);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(254, 251, 220, 0.5);
}
#login-container .form-container .logo-row {
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  text-align: center;
}
#login-container .form-container .logo-row #logo-link {
  width: 15%;
}
#login-container .form-container .logo-row #HWlogo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#login-container .form-container .logo-row #HWlogo:hover {
  opacity: 0.7;
  cursor: pointer;
}
#login-container .form-container .logo-row h1 {
  width: 90%;
  font-family: lust-sans, "sans-serif";
  color: #591727;
  font-size: 40px;
}
#login-container .form-container .logo-row .home-link-login {
  color: #591727;
  font-family: roc-grotesk, "sans-serif";
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 80%;
  z-index: 99;
}
#login-container .form-container .logo-row .home-link-login:hover {
  text-decoration: underline;
  opacity: 50%;
}
#login-container .form-container #login-form {
  margin-left: 20%;
  margin-top: 5%;
  width: 100%;
}
#login-container .form-container #login-form label {
  font-family: roc-grotesk, "sans-serif";
  font-weight: bold;
  font-size: 18px;
  color: #591727;
  margin-bottom: 0.5rem;
}
#login-container .form-container #login-form input {
  width: 60%;
  color: #591727;
  border: 1px solid #591727 !important;
  padding: 0.4rem;
  margin-bottom: 1rem;
}
#login-container .form-container #login-form button {
  background-color: #F4C9FF;
  border: 1px solid #591727;
  font-weight: bold;
  font-size: 18px;
  font-family: roc-grotesk, "sans-serif";
  color: #591727;
  padding: 9px 35px;
  margin: 2rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}
#login-container .form-container #login-form button:hover {
  background-color: #E78550;
  cursor: pointer;
}
#login-container .form-container #login-form #register-container {
  margin-top: 2rem;
  width: 100%;
}
#login-container .form-container #login-form #register-container p {
  color: #591727;
  font-family: roc-grotesk, "sans-serif";
}
#login-container .form-container #login-form #register-container a {
  -webkit-text-decoration-color: #591727;
          text-decoration-color: #591727;
  font-size: 18px;
  font-weight: bold;
}
#login-container .image-container {
  display: none;
}

@media screen and (min-width: 414px) {
  #login-container .form-container #login-form {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
  #login-container .form-container #login-form label {
    margin-bottom: 0;
  }
  #login-container .form-container #login-form .home-link-login {
    font-size: 26px;
    top: 140px;
    left: 4%;
  }
}
@media screen and (min-width: 768px) {
  #login-container {
    display: flex;
    width: 100vw;
    position: relative;
  }
  #login-container .form-container {
    background-color: #F4C9FF;
    width: 50%;
    background-image: none;
    display: flex;
    flex-direction: column;
  }
  #login-container .form-container .logo-row h1 {
    display: none;
  }
  #login-container .form-container .logo-row #logo-link {
    width: 20%;
  }
  #login-container .form-container .logo-row .home-link-login {
    font-size: 20px;
    top: 110px;
    left: 3%;
  }
  #login-container .form-container #login-form {
    margin-top: 0;
  }
  #login-container .form-container #login-form label {
    font-size: 22px;
  }
  #login-container .form-container #login-form input {
    font-size: 18px;
  }
  #login-container .form-container #login-form button {
    background-color: #FDE7AE;
    font-size: 22px;
  }
  #login-container .form-container #login-form #register-container p {
    font-size: 18px;
  }
  #login-container .form-container #login-form #register-container a,
#login-container .form-container #login-form #register-container b {
    font-size: 22px;
  }
  #login-container .image-container {
    display: block;
    width: 50%;
    background-image: url(../img/loginHero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  #login-container .image-container h1 {
    transform: rotate(90deg);
    font-size: 150px;
    color: #591727;
    position: relative;
    top: 40%;
    left: 20%;
    font-family: lust-sans, "sans-serif";
    overflow: hidden;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 1000px) {
  #login-container .form-container {
    position: relative;
  }
  #login-container .form-container .logo-row {
    padding: 2rem 2rem 0 2rem;
  }
  #login-container .form-container .logo-row #logo-link {
    width: 13%;
  }
  #login-container .form-container .logo-row .home-link-login {
    font-size: 20px;
    top: 140px;
    left: 5%;
  }
  #login-container .form-container #login-form {
    position: absolute;
    height: 100vh;
  }
  #login-container .form-container #login-form #login-button {
    margin: 1rem 0;
  }
  #login-container .form-container #login-form input {
    margin-bottom: 0;
  }
  #login-container .form-container #login-form #register-container {
    margin-top: 0;
  }
  #login-container .image-container h1 {
    left: 35%;
  }
}
@media screen and (min-width: 1200px) {
  #login-container .form-container .logo-row #logo-link {
    width: 12%;
  }
  #login-container .form-container #login-form label {
    font-size: 24px;
  }
  #login-container .form-container #login-form input {
    padding: 0.6rem;
    margin-bottom: 0;
  }
  #login-container .form-container #login-form button {
    font-size: 24px;
  }
  #login-container .form-container #login-form #register-container p {
    font-size: 18px;
  }
  #login-container .form-container #login-form #register-container a,
#login-container .form-container #login-form #register-container b {
    font-size: 24px;
  }
  #login-container .image-container {
    overflow: hidden;
  }
  #login-container .image-container h1 {
    left: 45%;
  }
}
@media screen and (min-width: 1400px) {
  #login-container .image-container {
    overflow: hidden;
  }
  #login-container .image-container h1 {
    left: 50%;
  }
}
@media screen and (min-width: 1600px) {
  #login-container .form-container .logo-row #logo-link {
    width: 10%;
  }
  #login-container .form-container #login-form label {
    font-size: 26px;
  }
  #login-container .form-container #login-form input {
    font-size: 20px;
  }
  #login-container .form-container #login-form #register-container p {
    font-size: 20px;
  }
  #login-container .form-container #login-form #register-container a,
#login-container .form-container #login-form #register-container b {
    font-size: 26px;
  }
  #login-container .image-container {
    overflow: hidden;
  }
  #login-container .image-container h1 {
    left: 55%;
  }
}
@media screen and (min-width: 1800px) {
  #login-container .image-container {
    overflow: hidden;
  }
  #login-container .image-container h1 {
    left: 60%;
  }
}
@media screen and (min-width: 2000px) {
  #login-container .form-container .logo-row #logo-link {
    width: 8%;
  }
  #login-container .image-container h1 {
    left: 65%;
  }
}
@media screen and (min-width: 2200px) {
  #login-container .image-container h1 {
    left: 70%;
  }
}
footer {
  padding: 2rem;
  margin-bottom: 80px;
  border-top: 2px solid #591727;
}
footer .footer-container .f-wrapper ul {
  padding: 0;
}
footer .footer-container .f-wrapper ul li {
  list-style: none;
}
footer .footer-container .f-wrapper ul li a {
  text-decoration: none;
  color: #591727;
  font-family: "roc-grotesk";
}
footer .footer-container .f-wrapper h4.f-title {
  font-family: "roc-grotesk";
  color: #591727;
  overflow-y: hidden;
}
footer .footer-container .f-1 {
  display: flex;
  padding-inline: 1.875rem;
  padding-top: 1rem;
  justify-content: center;
}
footer .footer-container .f-1 .fm-1 {
  margin-right: 4rem;
}
footer .footer-container .f-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
footer .footer-container .f-2 h4 {
  margin-right: 10rem;
  color: #591727;
}
footer .footer-container .f-2 .social-media-icon {
  margin-top: 1rem;
  text-align: center;
}
footer .footer-container .f-2 ion-icon {
  font-size: 1.635rem;
  margin-inline: 0.775rem;
  color: #591727;
  transition: all 0.3 ease-in-out;
}
footer .footer-container .f-2 ion-icon:hover {
  color: #E78550;
  cursor: pointer;
}
footer .footer-container .f-2 .f-sub {
  display: flex;
  align-items: center;
}
footer .footer-container .f-2 .f-sub .email-fill input[type=text] {
  border: 1px solid #591727;
  min-width: 14.5rem;
  min-height: 2.5rem;
  max-height: 2.625rem;
  max-width: 26.375rem;
  margin-right: 1rem;
  padding-left: 0.456rem;
  font-family: "roc-grotesk";
  font-size: 0.875rem;
}
footer .footer-container .f-2 .sub-btn-text {
  display: none;
}
footer .footer-container .f-4 {
  margin-top: 1rem;
}
footer .footer-container .f-4 img {
  width: 7rem;
  height: 7rem;
  display: none;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer-container .f-4 img:hover {
  opacity: 0.7;
  cursor: pointer;
}
footer .f-5 p {
  text-align: center;
  font-family: "roc-grotesk";
  font-size: 0.625rem;
  color: #591727;
  margin-bottom: 0.675rem;
  margin-top: 1rem;
}
footer .sub-btn {
  width: 1.938rem;
  height: 1.938rem;
  border: 1px solid #591727;
  position: relative;
  background-color: #F4C9FF;
}
footer .sub-btn span.arrow {
  position: absolute;
  width: 0.85rem;
  height: 0.85rem;
  border: 1px solid #591727;
  top: 50%;
  left: 20%;
  transform: translateY(-50%) rotate(-45deg);
  border-left: none;
  border-top: none;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    row-gap: 0rem;
  }
  .footer-container .f-2 .email-fill input[type=text] {
    border: 1px solid #591727;
    min-height: 2.625rem;
    min-width: 26.375rem;
    margin-right: 1rem;
    padding-left: 0.456rem;
    font-family: "roc-grotesk";
    font-size: 0.875rem;
  }
  .footer-container .f-4 {
    width: 20%;
  }
  .footer-container .f-4 img {
    margin-left: 2rem;
    display: block !important;
  }
  .footer-container .f-2 .f-title {
    align-self: flex-start;
  }
  .footer-container .f-2 .f-sub {
    align-self: flex-start;
  }
  .footer-container .f-2 .social-media-icon {
    align-self: flex-start;
  }
  .footer-container .f-2 .social-media-icon:first-child {
    margin-inline: 0;
  }
  .footer-container .f-2 .sub-btn-text {
    display: inline-block !important;
  }
  .footer-container .f-2 .sub-btn-text a {
    border: 1px solid #591727;
    background-color: #F4C9FF;
    padding: 0.5rem;
    text-decoration: none;
    color: #591727;
    font-family: "roc-grotesk";
    font-size: 0.875rem;
    text-transform: uppercase;
    display: block;
    transition: all 0.3s ease-in-out;
  }
  .footer-container .f-2 .sub-btn-text a:hover {
    background-color: #E78550;
    cursor: pointer;
  }
  .sub-btn {
    width: 1.938rem;
    height: 1.938rem;
    border: 1px solid #591727;
    background-color: white;
    position: relative;
    display: none;
  }
  .sub-btn span.arrow {
    display: none;
  }
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 160vh;
  background-color: #FDE7AE;
}

.left-container {
  width: 100%;
  height: 90vh;
  background-color: #FDE7AE;
}
.left-container a img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 22%;
  height: auto;
  z-index: 99;
}
.left-container .home-link {
  color: #591727;
  font-family: roc-grotesk, "sans-serif";
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 20px;
  left: 72%;
}
.left-container .home-link:hover {
  text-decoration: underline;
  opacity: 50%;
}

.right-container {
  background-image: url("../img/about-background.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
  background-color: #E78550;
}

.about-heading {
  font-family: lust-sans, sans-serif;
  font-weight: 500;
  font-size: 40px;
  font-style: normal;
  color: #591727;
  margin: 10vh 0 0 36%;
  -webkit-animation: bounce 5s ease;
          animation: bounce 5s ease;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.05, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.95, 1.1) translateY(-15px);
  }
  50% {
    transform: scale(1, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.about-body-text {
  width: 80%;
  font-family: roc-grotesk, "sans-serif";
  font-size: 14px;
  color: #591727;
  margin: 30px 0 30px 10%;
  padding: 0;
}

@media screen and (min-width: 425px) {
  .about-body-text {
    width: 80%;
    font-family: roc-grotesk, "sans-serif";
    font-size: 16px;
    color: #591727;
    margin: 40px 0 30px 10%;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
  }
  .left-container {
    height: 50vh;
  }
  .left-container a img {
    top: 30px;
    left: 40px;
    width: 12%;
    height: auto;
  }
  .left-container .home-link {
    top: 155px;
    left: 6%;
  }
  .right-container {
    background-image: url("../img/about-background.png");
    background-size: cover;
    background-position: center;
    width: 50%;
    margin-left: 25%;
    height: 40vh;
    background-color: #E78550;
  }
  .about-body-text {
    width: 60%;
    font-family: roc-grotesk, "sans-serif";
    font-size: 18px;
    color: #591727;
    margin: 20px 0 30px 20%;
    padding: 0;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .about-container {
    height: 70vh;
  }
  .left-container {
    width: 65%;
    height: 100%;
  }
  .left-container a img {
    width: 7%;
  }
  .left-container .home-link {
    top: 125px;
    left: 4.5%;
  }
  .right-container {
    width: 35%;
    margin: 0;
    height: 100%;
  }
  .about-heading {
    font-size: 60px;
    margin: 8vh 0 0 22%;
    overflow: hidden;
  }
  .about-body-text {
    width: 66%;
    font-size: 14px;
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .about-container {
    height: 70vh;
  }
  .left-container {
    width: 65%;
    height: 100%;
  }
  .left-container a img {
    width: 8%;
  }
  .left-container .home-link {
    top: 185px;
    font-size: 26px;
    left: 3.5%;
  }
  .right-container {
    width: 35%;
    margin: 0;
    height: 100%;
  }
  .about-heading {
    font-size: 80px;
    margin: 8vh 0 0 22%;
  }
  .about-body-text {
    font-size: 18px;
    margin: 30px 0 30px 20%;
  }
}
@media screen and (min-width: 1920px) {
  .left-container a img {
    width: 6%;
  }
  .left-container .home-link {
    left: 3%;
  }
  .about-body-text {
    font-size: 26px;
    margin: 30px 0 30px 20%;
  }
}
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #FEFBDC;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

#header #profile img {
  height: 96px;
  border-radius: 100%;
}

i:hover {
  cursor: pointer;
}

#shop-header {
  width: 100vw;
  padding: 2rem;
  display: flex;
  border-top: 1px solid #591727;
}
#shop-header #logo-link {
  width: 15%;
}
#shop-header #HWlogo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#shop-header #profile-container {
  width: 85%;
}
#shop-header #profile-container ul {
  display: flex;
  justify-content: flex-end;
}
#shop-header #profile-container ul li {
  font-weight: bold;
  font-family: "roc-grotesk";
}
#shop-header #profile-container ul a {
  color: #591727;
  text-decoration: none;
}
#shop-header #profile-container ul a:hover {
  opacity: 0.7;
  text-decoration: underline;
  -webkit-text-decoration-color: #591727;
          text-decoration-color: #591727;
}
#shop-header #profile-container #user-details {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
#shop-header #profile-container #user-details #dp {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid #591727;
  background-color: #F4C9FF;
  margin-left: 2rem;
  transition: all 0.3s ease-in-out;
}
#shop-header #profile-container #user-details #dp:hover {
  opacity: 0.7;
  cursor: pointer;
}
#shop-header #profile-container #user-details i {
  color: #591727;
  font-size: 22px;
  margin-left: 1rem;
}
#shop-header #profile-container #user-details .big-add {
  display: none;
}

.modal-body #image-preview {
  width: 100%;
}
.modal-body #image-preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-body #productForm {
  margin-top: 3rem;
  padding: 10px 20px;
  width: 500px;
}
.modal-body #productForm label,
.modal-body #productForm input {
  margin-top: 8px;
}
.modal-body #productForm label {
  margin-right: 5px;
}

#grid-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  color: #591727;
  overflow-y: hidden;
}
#grid-container .product-wrapper {
  background-color: #E78550;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  border: 1px solid #591727;
}
#grid-container .product-wrapper .hover-functions {
  position: absolute;
  top: 6px;
  right: 20px;
  font-size: 20px;
}
#grid-container .product-wrapper .hover-functions i {
  margin-left: 6px;
  transition: all 0.3s ease-in-out;
}
#grid-container .product-wrapper .hover-functions .edit-button:hover {
  color: #F4C9FF;
  cursor: pointer;
}
#grid-container .product-wrapper .hover-functions .delete-button:hover {
  color: #F4C9FF;
  cursor: pointer;
}
#grid-container .product-wrapper img {
  width: 247px;
  height: 247px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 54px;
  border: 2px solid #591727;
}
#grid-container .product-wrapper .product-bio {
  display: flex;
  justify-content: center;
  height: 58px;
  width: 100%;
}
#grid-container .product-wrapper .product-bio h3,
#grid-container .product-wrapper .product-bio p {
  width: 40%;
  font-size: 20px;
  line-height: 55px;
  margin-bottom: 0%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#grid-container .product-wrapper .product-bio h3 {
  width: 70%;
  margin-left: 54px;
}
#grid-container .product-wrapper .product-bio p {
  width: 30%;
  text-align: right;
  margin-right: 54px;
}
#grid-container .product-wrapper .product-bio #comment-button {
  position: absolute;
  bottom: 12px;
  right: 18px;
  font-size: 22px;
  transition: all 0.3s ease-in-out;
}
#grid-container .product-wrapper .product-bio #comment-button:hover {
  color: #F4C9FF;
}

@media screen and (min-width: 768px) {
  #shop-header {
    padding: 1.5rem;
  }
  #shop-header #logo-link {
    width: 10%;
  }
  #shop-header #profile-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 92%;
  }
  #shop-header #profile-container #user-details .small-add {
    display: none;
  }
  #shop-header #profile-container #user-details #bignew-product-bttn {
    display: flex;
    align-items: center;
    background-color: #F4C9FF;
    border: 1px solid #591727;
    font-weight: bold;
    font-size: 18px;
    font-family: roc-grotesk, "sans-serif";
    color: #591727;
    padding: 9px 35px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
    margin-right: 1rem;
    transition: all 0.3s ease-in-out;
  }
  #shop-header #profile-container #user-details #bignew-product-bttn i {
    font-size: 24px;
    padding-top: 1px;
  }
  #shop-header #profile-container #user-details #bignew-product-bttn:hover {
    background-color: #FDE7AE;
    cursor: pointer;
  }
  #grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #grid-container .product-wrapper .product-bio #comment-button {
    bottom: 11px;
    right: 18px;
    font-size: 24px;
  }
}
@media screen and (min-width: 834px) {
  #shop-header #profile-container #user-details i {
    font-size: 24px;
  }
  #grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #grid-container .product-wrapper .hover-functions {
    top: 11px;
  }
  #grid-container .product-wrapper img {
    width: 305px;
    height: 305px;
  }
  #grid-container .product-wrapper .product-bio {
    height: 60px;
  }
  #grid-container .product-wrapper .product-bio h3,
#grid-container .product-wrapper .product-bio p {
    font-size: 23px;
    line-height: 58px;
  }
}
@media screen and (min-width: 1024px) {
  #shop-header #logo-link {
    width: 7%;
  }
  #shop-header #profile-container {
    width: 93%;
  }
  #shop-header #profile-container #user-details #dp {
    width: 60px;
    height: 60px;
  }
  #grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #grid-container .product-wrapper img {
    width: 242px;
    height: 242px;
  }
  #grid-container .product-wrapper h3,
#grid-container .product-wrapper p {
    font-size: 2px;
    line-height: 58px;
  }
}
@media screen and (min-width: 1440px) {
  #grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #grid-container .product-wrapper img {
    width: 342px;
    height: 342px;
  }
}
@media screen and (min-width: 1920px) {
  #grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  #grid-container .product-wrapper img {
    width: 368px;
    height: 368px;
  }
}