#register-wrapper {
    display: flex;
    width: 100vw;
    position: relative;

    .form-container {
        width: 100%;
        height: 100vh;
        background-image: url(../img/registerHero.png);
        background-size: cover;
        -webkit-box-shadow: inset 0 0 0 1000px rgba(254, 251, 220, 0.5);
        box-shadow: inset 0 0 0 1000px rgba(254, 251, 220, 0.5);

        .logo-row {
            width: 100%;
            height: auto;
            padding: 2rem;
            display: flex;
            text-align: center;

            #logo-link {
                width: 15%;
            }

            #HWlogo {
                width: 100%;
                object-fit: cover;

            }
            #HWlogo:hover{
                opacity: 0.7;
                cursor: pointer;
            }

            h1 {
                width: 90%;
                font-family: $lust;
                color: $burgundy;
                font-size: 40px;
                margin-top: 0.5rem;
            }

            .home-link-register {
                color: $burgundy;
                font-family: $roc;
                font-size: 20px;
                font-weight: 500;
                position: absolute;
                top: 10px;
                left: 80%;
                z-index: 99;
            }

            .home-link-register:hover {
                text-decoration: underline;
                opacity: 50%;
            }
        }

        #register-form {
            margin-left: 20%;
            margin-top: 5%;
            width: 100%;

            label {
                font-family: $roc;
                font-weight: bold;
                font-size: 18px;
                color: $burgundy;
                margin-bottom: 0.5rem;
            }

            input {
                width: 60%;
                color: $burgundy;
                border: 1px solid #591727 !important;
                padding: 0.4rem;
                margin-bottom: 1rem;
            }

            button {
                border: 1px solid $burgundy;
                background-color: $pink;
                border: 1px solid $burgundy;
                font-weight: bold;
                font-size: 18px;
                font-family: $roc;
                color: $burgundy;
                padding: 9px 35px;
                margin: 2rem 0;
                width: fit-content;
                transition: all 0.3s ease-in-out;
            }
            button:hover {
                background-color: $orange;
                cursor: pointer;
            }
        }
    }

    .image-container {
        display: none;
    }
}

@media screen and (min-width: 414px) {
    #register-wrapper {
        .form-container {
            #register-form {
                height: 75vh;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                margin-top: 0;

                label {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #register-wrapper {
        display: flex;
        width: 100vw;
        position: relative;

        .form-container {
            background-color: $pink;
            width: 50%;
            background-image: none;
            display: flex;
            flex-direction: column;

            .logo-row {
                h1 {
                    display: none;
                }

                #logo-link {
                    width: 20%;
                }

                .home-link-register {
                    font-size: 26px;
                    top: 140px;
                    left: 4%;
                }
            }

            #register-form {
                margin-top: 0;

                label {
                    font-size: 22px;

                }

                input {
                    font-size: 18px;
                }

                button {
                    background-color: $yellow;
                    font-size: 22px;
                }
            }
        }

        .image-container {
            display: block;
            width: 50%;
            background-image: url(../img/loginHero.png);
            background-size: cover;
            background-repeat: none;
            background-position: center;
            height: 100vh;
           

            h1 {
                transform: rotate(90deg);
                font-size: 150px;
                color: $burgundy;
                position: absolute;
                top: 40%;
                left: 40%;
                font-family: $lust;
                overflow: hidden;
            }
        }
    }
}


@media screen and (min-width: 1000px) {
    #register-wrapper {
        .form-container {
            position: relative;
            .logo-row {
                padding: 2rem 2rem 0 2rem;

                #logo-link {
                    width: 13%;
                }

                .home-link-register {
                    font-size: 18px;
                    top: 120px;
                    left: 3%;
                }
            }
            #register-form{
                position: absolute;
                height: 100vh;
                display: flex;
                justify-content: center;
            }
        }

        .image-container {
            h1 {
                left: 55%;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    #register-wrapper {
        .form-container {
            .logo-row {
                #logo-link {
                    width: 12%;
                }

                .home-link-register {
                    font-size: 20px;
                    top: 140px;
                    left: 3%;
                }
            }

            #register-form {
                label {
                    font-size: 24px;

                }

                input {
                    padding: 0.6rem;
                    margin-bottom: 0;
                }

                button {
                    font-size: 24px;
                }

                #register-container {

                    p {
                        font-size: 18px;
                    }

                    a,
                    b {
                        font-size: 24px;
                    }
                }
            }
        }

        .image-container {
            overflow: hidden;

            h1 {
                left: 65%;
            }
        }
    }

}

@media screen and (min-width: 1400px) {
    #register-wrapper {
        .image-container {
            h1 {
                left: 70%;
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    #register-wrapper {
        .form-container {
            .logo-row {
                #logo-link {
                    width: 10%;
                }
            }

            #register-form {
                label {
                    font-size: 26px;
                }

                input {
                    font-size: 20px;
                }
            }
        }

        .image-container {
            h1 {
                left: 73%;
            }
        }
    }
}

@media screen and (min-width: 1800px) {
    #register-wrapper {
        .image-container {
            h1 {
                left: 75%;
            }
        }
    }
}

@media screen and (min-width: 2000px) {
    #register-wrapper {
        .form-container {
            .logo-row {
                #logo-link {
                    width: 8%;
                }
            }
        }

        .image-container {
            h1 {
                left: 75%;
            }
        }
    }
}

@media screen and (min-width: 2200px) {
    #register-wrapper {
        .image-container {
            h1 {
                left: 80%;
            }
        }
    }
}