//-----fonts-----
$roc: roc-grotesk, 'sans-serif';
$lust: lust-sans, 'sans-serif';

//-----colours-----
$orange: #E78550;
$burgundy: #591727;
$offwhite: #FEFBDC;
$yellow: #FDE7AE;
$pink: #F4C9FF;
$mint: #BDF6CB;
$tomato: #FF6347;